html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

body {
	color: #2f3035;
	font-family: 'SFProDisplay-Regular', sans-serif;
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

/* header__top */

.header__top-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 122px;
}

.logo__img {
	width: 155px;
}

.header__callme {
	display: flex;
	align-items: center;
}

.header__callme-image {
	display: block;
	width: 60px;
	/* margin-right: 3px; */
}

.header__callme-text {
	font-size: 28px;
	line-height: 32px;
	text-align: center;
	margin-right: 70px;
	color: #fab42a;
	transition: transform 0.3s ease;
}

.header__callme-text:hover {
	transform: scale(1.05);
}

.header__callme-phone {
	display: flex;
	flex-direction: column;
}

.header__phone-number {
	font-size: 24px;
	line-height: 32px;
	font-weight: 800;
	transition: transform 0.3s ease;
}

.header__phone-number:hover {
	transform: scale(1.05);
	color: #fab42a;
}

.header__features {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header__features-title {
	line-height: 48px;
	font-size: 42px;
	color: #fab42a;
}

.header__features-subtitle {
	font-size: 18px;
	font-weight: 400;
}

.basket {
	position: relative;
	transition: transform 0.3s ease;
}

.basket:hover {
	transform: scale(1.25);
}

.basket__num {
	font-family: 'SFProDisplay-Medium', sans-serif;
	position: absolute;
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	width: 30px;
	height: 30px;
	background-color: #fab42a;
	border-radius: 50%;
	text-align: center;
	bottom: -15px;
	right: -15px;
}

.header__basket-img {
	width: 60px;
}

/* header__bottom */

.header__bottom {
	background-color: #3d3d41;
}

.menu-categories {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 54px;
}

.menu-categories__link {
	color: #fff;
	font-family: 'SFProDisplay-Regular', sans-serif;
	font-weight: 400;
	transition: all, 0.3s;
	padding: 14px 0 15px;
	position: relative;
}

.menu-categories__link::before {
	content: '';
	position: absolute;
	width: 0;
	left: auto;
	background-color: #fab42a;
	height: 3px;
	bottom: -2px;
	transition: all, 0.5s;
	right: 0;
}

.menu-categories__link:hover {
	font-family: 'SFProDisplay-Semibold', sans-serif;
	color: #fab42a;
}

.menu-categories__link:hover::before {
	width: 100%;
	right: auto;
	left: 0;
}

/* .subheader */

.subheader {
	padding-top: 35px;
}

.subheader__wrapper {
	display: flex;
	align-items: center;
}

.product-card__wrapper {
	display: flex;
}

.product-card__stock {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 20px;
	width: 230px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	text-align: center;
	transition: transform 0.3s ease;
	margin-right: 30px;
}

.product-card__stock:hover {
	transform: scale(1.05);
}

.product-card__badge {
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: red;
	color: white;
	padding: 5px 10px;
	font-size: 14px;
	font-weight: bold;
	border-radius: 5px;
	z-index: 10;
}

.product-card__image {
	height: 190px;
	border-bottom: 1px solid #ddd;
	display: flex;
	align-items: center;
}

.product-card__image img {
	width: 100%;
	min-height: auto;
	object-fit: cover;
}

.product-card__title {
	font-family: 'SFProDisplay-Bold', sans-serif;
	font-size: 18px;
	font-weight: 700;
	margin: 10px 0;
}

.product-card__price {
	font-size: 20px;
	margin: 10px 0;
}

.discounted-price {
	font-family: 'SFProDisplay-Bold', sans-serif;
	display: block;
	color: #28a745;
	font-weight: 700;
	font-size: 28px;
	margin-right: 10px;
}

.price-annotation {
	color: red;
	font-size: 11px;
}

.original-price {
	text-decoration: line-through;
	color: #999;
	font-size: 16px;
}

.product-card__btn-quick {
	font-family: 'SFProDisplay-Bold', sans-serif;
	font-weight: 700;
	background-color: #fab42a;
	color: white;
	border: none;
	padding: 10px 40px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 24px;
	margin-bottom: 10px;
}

.product-card__btn-quick:hover {
	background: rgba(0, 0, 0, 0);
	color: #fab42a;
	box-shadow: inset 0 0 0 3px #fab42a;
	transition: 0.4s;
	cursor: pointer;
}

.product-card__details {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: left;
	font-size: 14px;
	margin-bottom: 10px;
}

.product-card__details li {
	line-height: 20px;
}

.product-card__basket {
	display: inline-flex;
	align-items: center;
	font-family: 'SFProDisplay-Bold', sans-serif;
	font-weight: 700;
	text-decoration: underline;
	color: #fab42a;
	cursor: pointer;
	font-size: 16px;
}

.product-card__basket:hover {
	color: red;
}

.product-card__basket-img {
	width: 18px;
	margin-right: 5px;
}

.shop__wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.shop-img {
	width: 400px;
	margin-bottom: 20px;
	border-radius: 8px;
}

.shop-title { 
	color: #fab42a;
	font-family: 'SFProDisplay-Bold', sans-serif;
	font-weight: 700;
	font-size: 42px;
	margin: 0;
	margin-bottom: 20px;
}

.shop-subtitle {
	text-align: center;
	font-family: 'SFProDisplay-Semibold', sans-serif;
	font-weight: 600;
	margin: 0;
	margin-bottom: 20px;
	font-size: 24px;
} 

.shop-subtitle span {
	color: red;
}

.shop-work {
	color: red;
	margin: 0;
}

/* .features  */

.features {
	padding-top: 55px;
	padding-bottom: 75px;
}

/* .features-title {
	font-family: 'SFProDisplay-Bold', sans-serif;
	font-weight: 700;
	font-size: 52px;
	color: #fab42a;
	margin-bottom: 30px;
}

.features-descr {
	font-size: 16px;
	color: #666666;
	max-width: 500px;
} */

.features-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.features-item {
	display: flex;
	flex-basis: 30%;
	align-items: center;
	margin-bottom: 50px;
}

.features-item__img {
	margin-right: 29px;
}

.features-text__title {
	font-weight: bold;
	font-size: 16px;
	line-height: 140%;
	margin: 0;
	margin-bottom: 5px;
	text-align: left;
}

.features-text__descr {
	font-weight: normal;
	font-size: 14px;
	line-height: 140%;
	margin: 0;
	text-align: left;
}
