html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

body {
	color: #2f3035;
	font-family: 'SFProDisplay-Regular', sans-serif;
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}

/* header__top */

.header__top-inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 122px;
}

.logo__img {
	width: 140px;
}

.header__callme {
	display: flex;
	align-items: center;
}

.header__callme-image {
	display: block;
	width: 60px;
	/* margin-right: 3px; */
}

.header__callme-text {
	font-size: 28px;
	line-height: 32px;
	text-align: center;
	margin-right: 70px;
	color: #fab42a;
	transition: transform 0.3s ease;
}

.header__callme-text:hover {
	transform: scale(1.05);
}

.header__callme-phone {
	display: flex;
	flex-direction: column;
}

.header__phone-number {
	font-size: 24px;
	line-height: 32px;
	font-weight: 800;
	transition: transform 0.3s ease;
}

.header__phone-number:hover {
	transform: scale(1.05);
	color: #fab42a;
}

.header__features {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header__features-title {
	line-height: 48px;
	font-size: 42px;
	color: #fab42a;
}

.header__features-subtitle {
	font-size: 18px;
	font-weight: 400;
}

.basket {
	position: relative;
	transition: transform 0.3s ease;
}

.basket:hover {
	transform: scale(1.25);
}

.basket__num {
	font-family: 'SFProDisplay-Medium', sans-serif;
	position: absolute;
	color: #fff;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	width: 30px;
	height: 30px;
	background-color: #fab42a;
	border-radius: 50%;
	text-align: center;
	bottom: -15px;
	right: -15px;
}

.header__basket-img {
	width: 60px;
}

/* header__bottom */

.header__bottom {
	background-color: #3d3d41;
}

.menu-categories {
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 54px;
}

.menu-categories__link {
	color: #fff;
	font-family: 'SFProDisplay-Regular', sans-serif;
	font-weight: 400;
	transition: all, 0.3s;
	padding: 14px 0 15px;
	position: relative;
}

.menu-categories__link::before {
	content: '';
	position: absolute;
	width: 0;
	left: auto;
	background-color: #fab42a;
	height: 3px;
	bottom: -2px;
	transition: all, 0.5s;
	right: 0;
}

.menu-categories__link:hover {
	font-family: 'SFProDisplay-Semibold', sans-serif;
	color: #fab42a;
}

.menu-categories__link:hover::before {
	width: 100%;
	right: auto;
	left: 0;
}

/* .features  */

.features {
	padding-top: 35px;
	padding-bottom: 75px;
}

.features-title {
	font-family: 'SFProDisplay-Bold', sans-serif;
	font-weight: 700;
	font-size: 52px;
	color: #fab42a;
	margin-bottom: 30px;
}

.features-descr {
	font-size: 16px;
	color: #666666;
	max-width: 500px;
}

.features-block {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 35px;
}

.features-item {
	display: flex;
	flex-basis: 30%;
	align-items: center;
	margin-bottom: 50px;
}

.features-item__img {
	margin-right: 29px;
}

.features-text__title {
	font-weight: bold;
	font-size: 16px;
	line-height: 140%;
	margin: 0;
	margin-bottom: 5px;
	text-align: left;
}

.features-text__descr {
	font-weight: normal;
	font-size: 14px;
	line-height: 140%;
	margin: 0;
	text-align: left;
}
